/*
	Resetando todos os elementos do khtml
*/

@import url('https://fonts.googleapis.com/css?family=Manjari|Anton&display=swap');

* { 
	margin: 0 auto; 
	padding: 0; 
}	

a {
	color: #fff;
	font:18px Ubuntu;
	text-decoration: none;
	padding: 10px;
	font-weight: 300;
	transition: all 0.3s;
}

header {
	width: 100%;
	position: fixed;
}

header nav {
	padding-top: 15px;
	background: #000;
	height: 35px
}

header nav ul li {
	display: inline; 
}

header nav ul li a:hover {
	background: #ccc;
	color: #000;
	padding: 10px;
}

section {
	padding-top: 50px;
	width: 100%;
	height: 100vh;
}

#slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100vh;
	background-image: url(../images/chicago.jpg);
	background-size: cover;
	padding-bottom: 30px;
} 

#slide h1, p {
	margin: 10px;
	text-align: center;
	color: #fff;
}


#band {
	padding-top: 50px;
	width: 60%;
	display: flex;
	flex-direction: column;
}

.title {
	font-family: Anton;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.subtitle {
	font-family: Manjari;
	color: #555;
	text-align: center;
	padding: 25px 0
}

.text {
	font-family: Manjari;
	font-size: 18px;
	line-height: 25px;
	color: #000;
	text-align: justify;
	padding-bottom: 20px;
}

#images {
	margin: 20px 25px;
	display: flex;
	flex-direction: row;
}

.img {
	display: flex;
	flex-direction: column;
}

.img span {
		padding-bottom: 20px;
}

section #tour {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	width: 100%;
	height: 100vh;
	background-color: #000;
	padding-bottom: 20px
}

#tour h1{
	color: #FFF;
}

#shows{
	list-style: none;
	border: none;
	width:60%;
	height: auto;
	background-color: #fff;
}

#shows li {
	color: #888;
	padding: 12px 15px;
	border-bottom: 1px solid #eee
}

#shows li span {
	background-color: tomato;
	padding: 3px 5px;
	color: #fff
}

#shows li label {
	position: relative;
	left: 85%;
	border-radius: 50%;
	background-color: #000;
	padding: 5px 10px;
	color: #fff
}

#box-card {
	display: flex;
	flex-direction: row;
}

.card {
	margin: 0 13px;
	width: 245px;
	height: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
.card img {
	width:245px;
}

.card:hover::before {
	content: "";
	display: block;
	width: 245px;
	height: 185px;
	position: absolute;
	background-color: rgba(0,0,0,0.5)
}	

.card span {
	font-weight: bold;
	padding: 10px 0;
	color: #000;
}

.card span:nth-child(2n - 1) {
	font-weight: 300;
	padding: 10px 0;
	color: #666;
}

.card p {
	color: #000;
}

.card a {
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #000;
}

.card a:hover {
	color: #000;
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #bbb;
}